.collapse {
    display: block;
}

.collapse.collapsed {
    display: none;
}

.collapse-button {
    transform: translate(0, 95%);
    background-color: #fff;
    padding: 0 10px;
    width: 15%;
}

.collapse-button.collapsed {
    transform: translate(0, -50%);
}