.recipient-options {
    position: absolute;
    z-index: 999;
    display: none;
    background-color: #fff;
}

.recipient-options.displayed {
    display: block;
}

.recipient-option {
    cursor: pointer;
    margin: 1px 0;
}

.recipient-name {
    margin-right: 2px;
    font-weight: 700;
}