.recipient-options {
    position: absolute;
    z-index: 999;
    display: none;
    background-color: #fff;
    max-height: 500px;
    overflow-y: scroll;
}

.recipient-options.displayed {
    display: block;
}

.recipient-option {
    cursor: pointer;
    padding: 5px;
}

.recipient-option:hover {
    background-color: #efefef;
}

.recipient-name {
    font-weight: 700;
}